// Colors 
$primaryColor: #777777;
$orangeColor:  #fe7865;
$whiteColor: #ffffff;
$fieldColor: #f7f7ff;

$lightGray: #E5E5E5;
$lightBlack: #333333;
$orangeTransparent: hsla(7, 99%, 70%, 0.502) ;





$lightBg: #fffaf6;
$veryLightBg: #ffe8e5;


// Media queries
$xsmall: 320px;
$mobile: 375px;
$tablet: 768px;
$desktop: 1024px;
$desktopxl: 1400px;

// Typography
$primaryFont: 'Poppins', sans-serif;
