/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #777777;
  position: relative;
  overflow-x: hidden;
}

.container {
  max-width: 180rem;
  width: 95%;
  margin-inline: auto;
}

.container-2 {
  max-width: 120rem;
  width: 95%;
  margin-inline: auto;
}

.highLighted {
  display: inline-block;
  position: relative;
}
.highLighted::before {
  position: absolute;
  content: "";
  background-color: rgba(254, 120, 103, 0.502);
  width: 100%;
  height: 5px;
  bottom: 15%;
}
@media (min-width: 1024px) {
  .highLighted::before {
    height: 1rem;
  }
}

.header {
  margin-top: 15rem;
}
.header__hero {
  background-color: #fffaf6;
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
}
@media (min-width: 768px) {
  .header__hero {
    grid-template-columns: repeat(2, 1fr);
    justify-items: start;
    gap: 0;
  }
}
.header__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.header__bottom {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}
.header__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  height: 100%;
}
.header__heading {
  -webkit-animation: moveTop 1s ease-out;
          animation: moveTop 1s ease-out;
  opacity: 1;
  font-size: 4.2rem;
  line-height: 1.1;
}
@media (min-width: 768px) {
  .header__heading {
    font-size: 5.2rem;
    max-width: 80%;
  }
}
@media (min-width: 1024px) {
  .header__heading {
    font-size: 6.8rem;
  }
}
@media (min-width: 1400px) {
  .header__heading {
    font-size: 9.2rem;
  }
}
.header__subheading {
  opacity: 0;
  -webkit-animation: moveText 1s ease forwards 0.8s;
          animation: moveText 1s ease forwards 0.8s;
}
@media (min-width: 375px) {
  .header__subheading {
    max-width: 70%;
  }
}
.header__link {
  -webkit-animation: moveText 1s ease forwards 1.5s;
          animation: moveText 1s ease forwards 1.5s;
  opacity: 0;
  text-decoration: none;
  color: #ffffff;
  padding: 1.2rem 2rem;
  background-color: #fe7865;
  font-size: 1.4rem;
  align-self: flex-start;
  white-space: nowrap;
  transition: all 0.3s ease-out;
  border: 1px solid transparent;
}
.header__link:hover {
  color: #fe7865;
  background-color: #ffffff;
  border: 1px solid #fe7865;
}
@media (min-width: 1024px) {
  .header__link {
    padding: 1.2rem 3rem;
    margin-top: 2rem;
    font-size: 1.5rem;
  }
}
.header__line {
  width: 100%;
  height: 1px;
  background-color: #fe7865;
}
.header__socials {
  display: flex;
  gap: 3rem;
}
@media (min-width: 1024px) {
  .header__socials {
    font-size: 2rem;
  }
}
.header__icons {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.3;
  transition: all 250ms ease-in-out;
}
.header__icons:hover {
  opacity: 1;
  color: #fe7865;
}
.header__icons::after {
  position: absolute;
  content: "";
  width: 3rem;
  height: 3rem;
  border: 1px #777777 solid;
  transition: all 250ms ease-in-out;
}
.header__icons:hover::after {
  opacity: 1;
  border: 1px solid #fe7865;
}

.nav {
  background-color: #ffffff;
  width: 100vw;
  position: fixed;
  z-index: 10000;
  padding: 2rem 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav #check {
  display: none;
}
.nav__icon {
  cursor: pointer;
  transition: all 250ms ease-in;
}
@media (min-width: 1024px) {
  .nav__icon {
    display: none;
  }
}
.nav__icon:hover .nav__line::after {
  transform: translateY(-2px);
}
.nav__icon:hover .nav__line::before {
  transform: translateY(2px);
}
.nav__line {
  display: inline-block;
  width: 3rem;
  height: 2px;
  background-color: #777777;
  transition: all 0.3s ease-in;
  position: relative;
}
.nav__line::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #777777;
  top: 6px;
  left: 0;
  transition: all 0.5s ease;
}
.nav__line::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #777777;
  bottom: 6px;
  left: 0;
  transition: all 0.5s ease;
}
#check:checked + .nav__icon .nav__line::after {
  background-color: #fe7865;
  top: 0;
  transform: rotate(-135deg);
}
#check:checked + .nav__icon .nav__line {
  background-color: transparent;
}
#check:checked + .nav__icon .nav__line::before {
  background-color: #fe7865;
  top: 0;
  transform: rotate(135deg);
}
.nav__menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  position: fixed;
  background-color: #ffffff;
  top: 7rem;
  left: 0;
  right: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: all 250ms ease-in-out;
}
@media (min-width: 1024px) {
  .nav__menu {
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    transform: none;
    flex-direction: row;
    gap: 3rem;
  }
}
#check:checked ~ .nav__menu {
  transform: scaleY(1);
}
.nav__link {
  text-decoration: none;
  color: #777777;
  transition: all 250ms ease-in-out;
}
.nav__link-active {
  color: #fe7865;
}
.nav__link:hover {
  color: #fe7865;
}

@-webkit-keyframes moveTop {
  0% {
    transform: translateY(10rem);
    opacity: 0;
  }
  100% {
    transform: translatey(0rem);
    opacity: 1;
  }
}

@keyframes moveTop {
  0% {
    transform: translateY(10rem);
    opacity: 0;
  }
  100% {
    transform: translatey(0rem);
    opacity: 1;
  }
}
@-webkit-keyframes moveText {
  0% {
    transform: translateY(10rem);
    opacity: 0;
  }
  100% {
    transform: translatey(0rem);
    opacity: 1;
  }
}
@keyframes moveText {
  0% {
    transform: translateY(10rem);
    opacity: 0;
  }
  100% {
    transform: translatey(0rem);
    opacity: 1;
  }
}
.discount {
  padding: 5rem 0;
}
.discount__grid {
  padding: 5rem 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 4rem;
}
@media (min-width: 768px) {
  .discount__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }
}
.discount__box {
  overflow: hidden;
  position: relative;
  white-space: nowrap;
}
.discount__box:hover .discount__img {
  transform: scale(1.2);
}
.discount__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  transition: all 0.5s ease;
}
.discount__overlay {
  position: absolute;
  padding: 2rem;
  top: 0;
  gap: 2rem;
}
@media (min-width: 768px) {
  .discount__overlay {
    padding: 4rem;
  }
}
.discount__heading {
  font-size: 1.8rem;
  font-weight: 600;
  color: #333333;
}
@media (min-width: 768px) {
  .discount__heading {
    font-size: 2.4rem;
  }
}
.discount__link {
  display: block;
  text-decoration: none;
  color: #777777;
  margin-top: 2rem;
  transition: all 250ms ease-in;
}
@media (min-width: 768px) {
  .discount__link {
    font-size: 1.6rem;
  }
}
.discount__link:hover {
  color: #fe7865;
}

/*************** PRODUCTS **********************/
.products__grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 4rem;
}
@media (min-width: 768px) {
  .products__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
  }
}
@media (min-width: 1024px) {
  .products__grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}
.products__menu {
  text-align: center;
  border: 1px solid #E5E5E5;
}
@media (min-width: 768px) {
  .products__menu {
    grid-column: 1/5;
  }
}
@media (min-width: 1024px) {
  .products__menu {
    grid-column: 1/2;
    max-width: none;
    align-self: start;
  }
}
.products__heading {
  padding: 1rem 0;
  background-color: #E5E5E5;
  color: #333333;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
}
.products__option {
  padding: 1rem 0;
  font-size: 1.8rem;
  font-weight: 600;
  border-top: 1px solid #E5E5E5;
  cursor: pointer;
  transition: all 0.5s ease;
}
.products__option:hover {
  color: #fe7865;
}
.products__option-active {
  background-color: #fe7865;
  color: #ffffff;
}
.products__cards {
  padding: 2rem 0;
  display: grid;
  grid-template-columns: repeat(3, 100%);
  gap: 2rem;
  overflow-y: auto;
  overflow-x: scroll;
}
@media (min-width: 768px) {
  .products__cards {
    grid-template-columns: repeat(3, 50%);
    grid-row: 2/3;
    grid-column: 1/5;
  }
}
@media (min-width: 1024px) {
  .products__cards {
    grid-row: unset;
    grid-column: auto;
    padding: 0;
  }
}
@media (min-width: 1400px) {
  .products__cards {
    grid-template-columns: repeat(3, 1fr);
    overflow-x: hidden;
    overflow-y: auto;
  }
}
.products__top {
  overflow: hidden;
  position: relative;
}
.products__offer {
  position: absolute;
  z-index: 10;
  top: 2rem;
  right: 2rem;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 600;
}
.products__offer::before {
  position: absolute;
  content: "";
  width: 6rem;
  height: 6rem;
  background-color: #fe7865;
  border-radius: 50%;
  z-index: -1;
}
.products__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1/1;
  transition: all 250ms ease;
}
.products__img:hover {
  transform: scale(1.2);
}
.products__bottom {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.products__name {
  font-size: 2rem;
  font-weight: 600;
  color: #333333;
}
.products__rating {
  color: #fe7865;
  font-size: 1rem;
}
.products__price {
  color: #fe7865;
  font-weight: 600;
}
.products__span {
  color: #E5E5E5;
  -webkit-text-decoration: line-through 2px solid #777777;
          text-decoration: line-through 2px solid #777777;
}

.services {
  margin-top: 5rem;
  padding: 5rem 0;
  background-color: #fffaf6;
}
.services__content {
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.services__header {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.services__line {
  width: 15%;
  background-color: #fe7865;
  height: 1px;
}
.services__heading {
  color: #fe7865;
  font-size: 1.8rem;
}
.services__subheading {
  font-size: 2.6rem;
  color: #333333;
  font-weight: 600;
}
@media (min-width: 768px) {
  .services__subheading {
    font-size: 3.2rem;
  }
}
@media (min-width: 1024px) {
  .services__text {
    max-width: 50%;
  }
}
.services__grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 4rem;
}
@media (min-width: 1024px) {
  .services__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }
}
.services__top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}
.services__link {
  text-decoration: none;
  color: #ffffff;
  background-color: #fe7865;
  padding: 1.2rem 2rem;
  text-align: center;
  transition: all 250ms ease-out;
  border: 1px solid transparent;
}
.services__link:hover {
  background-color: #ffffff;
  color: #fe7865;
  border: 1px solid #fe7865;
}
.services__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
@media (min-width: 768px) {
  .services__bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    justify-items: center;
  }
}
@media (min-width: 1024px) {
  .services__bottom {
    justify-items: start;
    align-items: start;
  }
}
.services__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  max-width: 35rem;
  padding: 3rem;
  background-color: #ffffff;
  border: 1px #E5E5E5 solid;
}
@media (min-width: 768px) {
  .services__box:nth-child(2), .services__box:nth-child(4) {
    margin-top: 5rem;
  }
}
.services__icon {
  color: #fe7865;
  font-size: 4rem;
}
.services__name {
  color: #fe7865;
  font-weight: 600;
  font-size: 2rem;
}
.services__description {
  text-align: center;
}

.showcase {
  padding: 5rem 0;
}
.showcase__grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 4rem;
}
.showcase__top {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (min-width: 1024px) {
  .showcase__top {
    flex-direction: row;
    gap: 20rem;
  }
}
.showcase__heading {
  font-size: 3rem;
  color: #333333;
  font-weight: 600;
}
@media (min-width: 768px) {
  .showcase__heading {
    font-size: 3.5rem;
  }
}
@media (min-width: 768px) {
  .showcase__text {
    max-width: 95%;
  }
}
@media (min-width: 1024px) {
  .showcase__text {
    max-width: 50%;
  }
}
.showcase__bottom {
  position: relative;
}
@media (min-width: 768px) {
  .showcase__bottom::before {
    position: absolute;
    content: "";
    width: 30%;
    height: 30%;
    right: 2rem;
    background-color: rgba(255, 232, 229, 0.6);
    bottom: -2rem;
  }
}
@media (min-width: 1024px) {
  .showcase__bottom::before {
    width: 40%;
    right: 4rem;
    bottom: -4rem;
  }
}
.showcase__slider {
  display: none;
  position: absolute;
  z-index: 10;
  cursor: pointer;
}
@media (min-width: 768px) {
  .showcase__slider {
    display: block;
    top: 10%;
    right: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background-color: #fe7865;
    color: #ffffff;
    padding: 1rem 4rem;
  }
}
.showcase__slider span {
  font-size: 2rem;
}
.showcase__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.showcase__image {
  position: relative;
}
@media (min-width: 768px) {
  .showcase__image {
    padding-right: 4rem;
  }
}
@media (min-width: 1024px) {
  .showcase__image {
    padding-right: 8rem;
  }
}
.showcase__link {
  display: block;
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  text-decoration: none;
  color: #ffffff;
  background-color: #fe7865;
  padding: 1rem 2rem;
  font-weight: 600;
  transition: all 250ms ease;
  border: 1px solid transparent;
}
@media (min-width: 768px) {
  .showcase__link {
    bottom: -5%;
    padding: 2rem 5rem;
    font-size: 2rem;
  }
}
.showcase__link:hover {
  background-color: #ffffff;
  color: #fe7865;
  border: 1px solid #fe7865;
}

.team {
  margin-top: 5rem;
  padding: 5rem 0;
  background-color: #fffaf6;
}
.team__header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.team__heading {
  font-size: 2.6rem;
  color: #333333;
  font-weight: 600;
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  .team__subheading {
    max-width: 50%;
  }
}
.team__grid {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 4rem;
  justify-items: center;
}
@media (min-width: 768px) {
  .team__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }
}
@media (min-width: 1024px) {
  .team__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
  }
}
.team__box {
  overflow: hidden;
  padding-bottom: 2rem;
  max-width: 37.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  transition: all 0.5s ease-out;
}
@media (min-width: 768px) {
  .team__box {
    max-width: 45rem;
  }
}
@media (min-width: 1024px) {
  .team__box {
    max-width: none;
  }
}
.team__box:hover {
  border: 1px solid #fe7865;
  border-radius: 0.5rem;
}
.team__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  aspect-ratio: 1/1;
}
.team__name {
  font-size: 2rem;
  color: #333333;
  font-weight: 600;
  transition: all 250ms ease-out;
  cursor: pointer;
}
.team__name:hover {
  color: #fe7865;
}
.team__work {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
}
.team__socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-color: #ffe8e5;
  padding: 1rem 2rem;
  border-radius: 100rem;
  border: 1px solid #fe7865;
}
.team__icon {
  cursor: pointer;
  transition: all 250ms ease-out;
}
.team__icon:hover {
  color: #fe7865;
}

.testimonial {
  margin-bottom: 30rem;
  min-height: 20vh;
  background: url(../images/testimonial/ts-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}
@media (min-width: 768px) {
  .testimonial {
    min-height: 30vh;
  }
}
.testimonial__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.testimonial__btn {
  position: absolute;
  display: none;
}
@media (min-width: 768px) {
  .testimonial__btn {
    display: block;
    font-size: 4rem;
    right: 5rem;
    bottom: -20rem;
    cursor: pointer;
  }
}
@media (min-width: 1400px) {
  .testimonial__btn {
    right: 0;
  }
}
.testimonial__btn:hover .testimonial__play {
  color: #ffffff;
}
.testimonial__btn:hover .testimonial__play::after {
  background-color: #fe7865;
}
.testimonial__play {
  position: relative;
  color: rgba(254, 120, 103, 0.9);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 250ms ease;
}
.testimonial__play::after {
  position: absolute;
  background-color: #ffffff;
  content: "";
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  z-index: -1;
  transition: all 0.5s ease-out;
}
.testimonial__box {
  position: absolute;
  background-color: rgba(254, 120, 103, 0.9);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  max-width: 37.5rem;
  padding: 2rem;
  bottom: -45rem;
}
@media (min-width: 768px) {
  .testimonial__box {
    left: 1rem;
    bottom: -60rem;
  }
}
.testimonial__quote {
  font-size: 6rem;
}
.testimonial__text {
  font-size: 1.8rem;
  font-style: italic;
}
@media (min-width: 768px) {
  .testimonial__text {
    font-size: 2.9rem;
  }
}
.testimonial__author {
  font-weight: 600;
}
.testimonial__work {
  font-size: 1.4rem;
}

.blog {
  padding: 5rem 0;
}
.blog__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 2rem;
  margin-bottom: 5rem;
}
.blog__heading {
  color: #333333;
  font-weight: 600;
}
@media (min-width: 768px) {
  .blog__heading {
    font-size: 3.2rem;
  }
}
.blog__subheading {
  max-width: 90%;
}
@media (min-width: 768px) {
  .blog__subheading {
    max-width: 50%;
  }
}
.blog__grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 4rem;
  justify-items: center;
}
@media (min-width: 768px) {
  .blog__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
    justify-items: center;
  }
}
@media (min-width: 1024px) {
  .blog__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
  }
}
.blog__box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid #E5E5E5;
  border-radius: 0.5rem;
  overflow: hidden;
  max-width: 37.5rem;
}
@media (min-width: 768px) {
  .blog__box {
    max-width: 45rem;
  }
  .blog__box:nth-child(1) {
    grid-column: 1/3;
  }
  .blog__box:nth-child(2) {
    grid-column: 3/5;
  }
  .blog__box:nth-child(3) {
    grid-column: 2/4;
  }
}
@media (min-width: 1024px) {
  .blog__box:nth-child(1) {
    grid-column: auto;
  }
  .blog__box:nth-child(2) {
    grid-column: auto;
  }
  .blog__box:nth-child(3) {
    grid-column: auto;
  }
}
.blog__image {
  overflow: hidden;
}
.blog__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  transition: all 0.5s ease-out;
}
.blog__content {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.blog__title {
  font-size: 2rem;
  color: #333333;
  font-weight: 500;
  margin-bottom: 1rem;
  transition: all 250ms ease-in-out;
  cursor: pointer;
}
.blog__title:hover {
  color: #fe7865;
}
.blog__date {
  font-style: italic;
  text-transform: uppercase;
}
.blog__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  border-top: 1px solid #E5E5E5;
  padding-top: 2rem;
}
.blog__author {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.blog__admin {
  border-radius: 50%;
  cursor: pointer;
}
.blog__name {
  font-weight: 500;
  transition: all 250ms ease-in-out;
}
.blog__name:hover {
  color: #fe7865;
  cursor: pointer;
}
.blog__cta {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.blog__icons {
  transition: all 250ms ease-in-out;
  cursor: pointer;
}
.blog__icons:hover {
  color: #fe7865;
}
.blog__image:hover .blog__img {
  transform: scale(1.1);
}

.contact {
  padding: 5rem 0;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact__heading {
  text-align: center;
  font-size: 3.2rem;
  color: #333333;
  font-weight: 600;
  margin-bottom: 5rem;
}
@media (min-width: 768px) {
  .contact__heading {
    font-size: 6rem;
  }
}
.contact__grid {
  background-color: #ffffff;
  border: 1px solid #E5E5E5;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  max-width: 75rem;
}
@media (min-width: 768px) {
  .contact__grid {
    max-width: none;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}
@media (min-width: 1024px) {
  .contact__grid {
    padding: 4rem;
  }
}
.contact__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.contact__title {
  font-size: 2.6rem;
  font-weight: 600;
  color: #333333;
  margin-bottom: 1rem;
}
.contact__info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
  font-weight: 500;
}
.contact span {
  color: #fe7865;
}
.contact__form {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (min-width: 768px) {
  .contact__form {
    grid-column: 2/4;
  }
}
.contact__field {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (min-width: 768px) {
  .contact__field:nth-child(1) {
    flex-direction: row;
  }
}
.contact__input, .contact__tarea {
  border: 3px solid #E5E5E5;
  width: 100%;
  background-color: #f7f7ff;
  padding: 1.2rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border: 1px solid transparent;
}
.contact__input:focus, .contact__tarea:focus {
  outline: none;
  border: 1px solid #777777;
}
.contact__input::-moz-placeholder, .contact__tarea::-moz-placeholder {
  font-size: 1.4rem;
}
.contact__input:-ms-input-placeholder, .contact__tarea:-ms-input-placeholder {
  font-size: 1.4rem;
}
.contact__input::placeholder, .contact__tarea::placeholder {
  font-size: 1.4rem;
}
@media (min-width: 768px) {
  .contact__input::-moz-placeholder, .contact__tarea::-moz-placeholder {
    font-size: 1.6rem;
  }
  .contact__input:-ms-input-placeholder, .contact__tarea:-ms-input-placeholder {
    font-size: 1.6rem;
  }
  .contact__input::placeholder, .contact__tarea::placeholder {
    font-size: 1.6rem;
  }
}
.contact__btn {
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  background-color: #fe7865;
  padding: 1.2rem 2rem;
  align-self: flex-start;
  font-size: 1.4rem;
  border: 1px solid transparent;
  transition: all 0.3s ease-out;
}
@media (min-width: 768px) {
  .contact__btn {
    font-size: 1.6rem;
  }
}
.contact__btn:hover {
  background-color: #ffffff;
  color: #fe7865;
  border: 1px solid #fe7865;
}

.footer {
  position: relative;
}
.footer::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 150%;
  background: url(../images/footer-bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: -1;
  bottom: 0;
  left: 0;
}
@media (min-width: 1024px) {
  .footer::before {
    height: 200%;
  }
}
.footer__grid {
  padding: 4rem 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 4rem;
}
@media (min-width: 768px) {
  .footer__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    justify-items: center;
  }
}
@media (min-width: 1024px) {
  .footer__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
  }
}
.footer__box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  max-width: 30rem;
  width: 100%;
}
.footer__box:nth-child(1) {
  margin-top: -1rem;
}
.footer__socials {
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: 1rem;
}
.footer__icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  z-index: 1;
  margin-left: 1rem;
  transition: all 250ms ease-out;
  cursor: pointer;
}
.footer__icon::after {
  content: "";
  position: absolute;
  width: 3rem;
  height: 3rem;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0px 5px 21px 0px rgba(254, 120, 103, 0.502);
  z-index: -1;
  transition: all 250ms ease-in-out;
}
.footer__icon:hover {
  color: #ffffff;
}
.footer__icon:hover::after {
  background-color: #fe7865;
}
.footer__title {
  font-size: 2rem;
  font-weight: 600;
  color: #333333;
}
.footer__text-t {
  width: 8rem;
}
.footer__link {
  text-decoration: none;
  color: #777777;
  text-transform: capitalize;
  transition: all 250ms ease-in;
}
.footer__link:hover {
  color: #fe7865;
}
.footer__info {
  display: flex;
}
.footer__attribution {
  margin-top: 5rem;
  border-top: 2px solid #E5E5E5;
  padding: 1.5rem;
}
.footer__copyright {
  text-align: center;
  font-size: 1.4rem;
}
.footer__copyright span {
  color: #fe7865;
}/*# sourceMappingURL=app.css.map */